@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Secular";
  src: url("./assets/SecularOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Anton";
  src: url("./assets/AntonSC-Regular.ttf") format("truetype");
}
